<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap" rel="stylesheet">
    <script defer src="../../static/js/index.js"></script>
    <script defer src="../../static/js/cart.js"></script>
    <script defer src="../../static/js/product.js"></script>
    <script defer src="../../static/js/welcome.js"></script>
    <link rel="icon" href="../../static/img/menu/logo.ico">
    <title>Gen. Camisetas de Fútbol</title>
</head>

<body>
    <header>
        <div class="welcome">
            <div class="wel-text">
                <h2></h2>
                <input id="account" type="hidden" value="">
            </div>
            <div class="wel-remove">
                <img src="../../static/img/svg/remove.svg" class="remove">
            </div>
        </div>
        
        <nav id="menu">
            <div class="logo">
                <a href="/index"><img src="../../static/img/menu/logo.png" alt="Logo"></a>
            </div>

            <div id="items" class="items">
                <ul class="menu-col">
                    <li>
                        <a href="/qatar22">
                            <img src="../../static/img/menu/qatar-logo.png" alt="Logo Qatar" class="logo-menu">
                            <h1>QATAR 2022</h1>
                        </a>
                    </li>
                    <li>
                        <a href="/lpf">
                            <img src="../../static/img/menu/lpf-logo.png" alt="Logo Liga" class="logo-menu">
                            <h1>LIGA ARGENTINA</h1>
                        </a>
                    </li>
                    <li>
                        <a href="/premier">
                            <img src="../../static/img/menu/premier-logo.png" alt="Logo Premier" class="logo-menu">
                            <h1>PREMIER LEAGUE</h1>
                        </a>
                    </li>
                    <li>
                        <a href="/contacto">
                            <img src="../../static/img/menu/contact-logo.png" alt="Logo Contacto" class="logo-menu">
                            <h1>CONTACTO</h1>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="login">
                <img src="../../static/img/svg/login.svg" alt="" class="svg-icon" id="login">
            </div>

            <div class="menu_colapse">
                <img src="../../static/img/svg/colapse-menu.svg" alt="" class="svg-icon">
            </div>

            <div class="cart_logo">
                <a>
                    <img src="" alt="" class="cart">
                </a>
            </div>

            <div id="colapse-cart" class="colapse-cart">
                <div class="tittle">
                    <h2>Mis Productos</h2>
                </div>
                <div id="cart-items" class="cart-items">
                </div>
                <h2 class="total">Total: $0</h2>
                <div class="button-cart">
                    <a href="/cart" class="btn-cart">Comprar</a>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <section class="loader">
            <div class="lds-dual-ring"></div>
        </section>

        <section class="section">
            <div class="container">
                <div class="login-content">
                    <form action="/log-in" class="login-form" method="post" id="{{login}}">
                        <div class="log-in">
                            <div>
                                <h1>Ingresar</h1>
                            </div>
                            <div class="mail login-form">
                                <label for="mail" class="form_label">Mail</label>
                                <input type="email" class="login-input" name="mail" id="mail">
                            </div>

                            <div class="pass login-form">
                                <label for="password" class="form_label">Contraseña</label>
                                <input type="password" class="login-input" name="pass" id="pass">
                            </div>

                            <div class="submit login-form">
                                <input type="submit" class="form_btn" value="Ingresar">
                                <h2 class="form_label register">¿No tienes cuenta? Registrate aquí.</h2>
                            </div>
                        </div>
                    </form>
                </div>

            </div>

        </section>

    </main>

    <footer>
        <div id="footer">
            <div class="container">
                <div class="grid-container">
                    <div class="grid-item">
                        <img src="../../static/img/svg/ig.svg" alt="Instagram logo" class="logo-footer">
                        <img src="../../static/img/svg/fb.svg" alt="Instagram logo" class="logo-footer">
                    </div>
                    <div class="grid-item">
                        <img src="../../static/img/menu/logo.png" alt="Logo" class="biglogo-footer">
                    </div>
                    <div class="grid-item">
                        <img src="../../static/img/svg/tw.svg" alt="Twitter logo" class="logo-footer">
                        <img src="../../static/img/svg/gmail.svg" alt="Gmail logo" class="logo-footer">
                    </div>
                </div>
                <h1>© Copyright 2022. Todos los derechos reservados. </h1>
            </div>
        </div>
    </footer>
</body>