<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap" rel="stylesheet">
    <script defer src="../../static/js/index.js"></script>
    <script defer src="../../static/js/cart.js"></script>
    <script defer src="../../static/js/product.js"></script>
    <link rel="icon" href="../../static/img/menu/logo.ico">
    <title>Gen. Camisetas de Fútbol</title>
</head>

<body>
    <header>
        <nav id="menu">
            <div class="logo">
                <a href="/index"><img src="../../static/img/menu/logo.png" alt="Logo"></a>
            </div>

            <div id="items" class="items">
                <ul class="menu-col">
                    <li>
                        <a href="/qatar22">
                            <img src="../../static/img/menu/qatar-logo.png" alt="Logo Qatar" class="logo-menu">
                            <h1>QATAR 2022</h1>
                        </a>
                    </li>
                    <li>
                        <a href="/lpf">
                            <img src="../../static/img/menu/lpf-logo.png" alt="Logo Liga" class="logo-menu">
                            <h1>LIGA ARGENTINA</h1>
                        </a>
                    </li>
                    <li>
                        <a href="/premier">
                            <img src="../../static/img/menu/premier-logo.png" alt="Logo Premier" class="logo-menu">
                            <h1>PREMIER LEAGUE</h1>
                        </a>
                    </li>
                    <li>
                        <a href="/contacto">
                            <img src="../../static/img/menu/contact-logo.png" alt="Logo Contacto" class="logo-menu">
                            <h1>CONTACTO</h1>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="menu_colapse">
                <img src="../../static/img/svg/colapse-menu.svg" alt="" class="svg-icon">
            </div>

            <div class="cart_logo">
                <a>
                    <img src="" alt="" class="cart">
                </a>
            </div>

            <div id="colapse-cart" class="colapse-cart">
                <div class="tittle">
                    <h2>Mis Productos</h2>
                </div>
                <div id="cart-items" class="cart-items">
                </div>
                <h2 class="total">Total: $0</h2>
                <div class="button-cart">
                    <a href="/cart" class="btn-cart">Comprar</a>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <section class="loader">
            <div class="lds-dual-ring"></div>
        </section>

        <section id="selProdu" class="section">
            
        </section>

    </main>

    <footer>
        <div id="footer">
            <div class="container">
                <div class="grid-container">
                    <div class="grid-item">
                        <img src="../../static/img/svg/ig.svg" alt="Instagram logo" class="logo-footer">
                        <img src="../../static/img/svg/fb.svg" alt="Instagram logo" class="logo-footer">
                    </div>
                    <div class="grid-item">
                        <img src="../../static/img/menu/logo.png" alt="Logo" class="biglogo-footer">
                    </div>
                    <div class="grid-item">
                        <img src="../../static/img/svg/tw.svg" alt="Twitter logo" class="logo-footer">
                        <img src="../../static/img/svg/gmail.svg" alt="Gmail logo" class="logo-footer">
                    </div>
                </div>
                <h1>© Copyright 2022. Todos los derechos reservados. </h1>
            </div>
        </div>
    </footer>
</body>

</html>